In [30]:
import numpy as np
import pandas as pd
import matplotlib as plt
import plotly as py
import plotly.express as px
import plotly.graph_objects as go
import plotly.subplots as sp

In [41]:
# Crear DF a partir de datos raw de población mundial total.
path_pobl_mund = "./Data/TOTAL_poblacion_mundial_world_bank_API_SP.POP.TOTL_DS2_en_csv_v2_5358404.csv"
pobl_mund_df = pd.read_csv(path_pobl_mund, skiprows=4) # Las filas previas no son útiles y causan problemas.
pobl_mund_df.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0,NaN

In [68]:
# Si no quiero ver los números en notación científica:
pd.set_option('display.float_format', lambda x: "{:,.1f}".format(x))

In [74]:
# Limpiar el DF para quedarme solo con los datos de China y las columnas que me interesan.
china_pop_df = pobl_mund_df.copy()
china_pop_df = pobl_mund_df.loc[pobl_mund_df["Country Name"] == "China"]
china_pop_df = china_pop_df.drop("Unnamed: 66", axis = 1).drop("Country Code", axis= 1).drop("Indicator Code", axis = 1).drop("Indicator Name", axis = 1).drop("Country Name", axis = 1)
china_pop_df

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
40,"667,070,000.0","660,330,000.0","665,770,000.0","682,335,000.0","698,355,000.0","715,185,000.0","735,400,000.0","754,550,000.0","774,510,000.0","796,025,000.0",...,"1,354,190,000.0","1,363,240,000.0","1,371,860,000.0","1,379,860,000.0","1,387,790,000.0","1,396,215,000.0","1,402,760,000.0","1,407,745,000.0","1,411,100,000.0","1,412,360,000.0"

In [75]:
# Como ahora no serán demasiadas filas puedo quitar el límite de filas mostradas.
pd.set_option('display.max_rows', None)

In [76]:
# Aún hay que pasar el DF de formato ancho a largo.
china_pop_df_largo = china_pop_df.copy()
china_pop_df_largo = china_pop_df_largo.melt(var_name= "Year", value_name= "Poblacion total")
china_pop_df_largo

    Year  Poblacion total
0   1960    667,070,000.0
1   1961    660,330,000.0
2   1962    665,770,000.0
3   1963    682,335,000.0
4   1964    698,355,000.0
5   1965    715,185,000.0
6   1966    735,400,000.0
7   1967    754,550,000.0
8   1968    774,510,000.0
9   1969    796,025,000.0
10  1970    818,315,000.0
11  1971    841,105,000.0
12  1972    862,030,000.0
13  1973    881,940,000.0
14  1974    900,350,000.0
15  1975    916,395,000.0
16  1976    930,685,000.0
17  1977    943,455,000.0
18  1978    956,165,000.0
19  1979    969,005,000.0
20  1980    981,235,000.0
21  1981    993,885,000.0
22  1982  1,008,630,000.0
23  1983  1,023,310,000.0
24  1984  1,036,825,000.0
25  1985  1,051,040,000.0
26  1986  1,066,790,000.0
27  1987  1,084,035,000.0
28  1988  1,101,630,000.0
29  1989  1,118,650,000.0
30  1990  1,135,185,000.0
31  1991  1,150,780,000.0
32  1992  1,164,970,000.0
33  1993  1,178,440,000.0
34  1994  1,191,835,000.0
35  1995  1,204,855,000.0
36  1996  1,217,550,000.0
37  1997  1,230,075,000.0
38  1998  1,241,935,000.0
39  1999  1,252,735,000.0
40  2000  1,262,645,000.0
41  2001  1,271,850,000.0
42  2002  1,280,400,000.0
43  2003  1,288,400,000.0
44  2004  1,296,075,000.0
45  2005  1,303,720,000.0
46  2006  1,311,020,000.0
47  2007  1,317,885,000.0
48  2008  1,324,655,000.0
49  2009  1,331,260,000.0
50  2010  1,337,705,000.0
51  2011  1,345,035,000.0
52  2012  1,354,190,000.0
53  2013  1,363,240,000.0
54  2014  1,371,860,000.0
55  2015  1,379,860,000.0
56  2016  1,387,790,000.0
57  2017  1,396,215,000.0
58  2018  1,402,760,000.0
59  2019  1,407,745,000.0
60  2020  1,411,100,000.0
61  2021  1,412,360,000.0

In [77]:
# Ahora este DF está listo para ser comprobado visualmente.
fig_pob_total = px.line(china_pop_df_largo, x="Year", y='Poblacion total', title="Evolución de la población")
fig_pob_total.show()

In [81]:
# Ahora queremos comprobar la tasa de variación interanual.
total_var_interanual_china = china_pop_df_largo.copy()
total_var_interanual_china["Var interanual"] = total_var_interanual_china["Poblacion total"].pct_change(periods = 1)*100
total_var_interanual_china

    Year  Poblacion total  Var interanual
0   1960    667,070,000.0             NaN
1   1961    660,330,000.0            -1.0
2   1962    665,770,000.0             0.8
3   1963    682,335,000.0             2.5
4   1964    698,355,000.0             2.3
5   1965    715,185,000.0             2.4
6   1966    735,400,000.0             2.8
7   1967    754,550,000.0             2.6
8   1968    774,510,000.0             2.6
9   1969    796,025,000.0             2.8
10  1970    818,315,000.0             2.8
11  1971    841,105,000.0             2.8
12  1972    862,030,000.0             2.5
13  1973    881,940,000.0             2.3
14  1974    900,350,000.0             2.1
15  1975    916,395,000.0             1.8
16  1976    930,685,000.0             1.6
17  1977    943,455,000.0             1.4
18  1978    956,165,000.0             1.3
19  1979    969,005,000.0             1.3
20  1980    981,235,000.0             1.3
21  1981    993,885,000.0             1.3
22  1982  1,008,630,000.0             1.5
23  1983  1,023,310,000.0             1.5
24  1984  1,036,825,000.0             1.3
25  1985  1,051,040,000.0             1.4
26  1986  1,066,790,000.0             1.5
27  1987  1,084,035,000.0             1.6
28  1988  1,101,630,000.0             1.6
29  1989  1,118,650,000.0             1.5
30  1990  1,135,185,000.0             1.5
31  1991  1,150,780,000.0             1.4
32  1992  1,164,970,000.0             1.2
33  1993  1,178,440,000.0             1.2
34  1994  1,191,835,000.0             1.1
35  1995  1,204,855,000.0             1.1
36  1996  1,217,550,000.0             1.1
37  1997  1,230,075,000.0             1.0
38  1998  1,241,935,000.0             1.0
39  1999  1,252,735,000.0             0.9
40  2000  1,262,645,000.0             0.8
41  2001  1,271,850,000.0             0.7
42  2002  1,280,400,000.0             0.7
43  2003  1,288,400,000.0             0.6
44  2004  1,296,075,000.0             0.6
45  2005  1,303,720,000.0             0.6
46  2006  1,311,020,000.0             0.6
47  2007  1,317,885,000.0             0.5
48  2008  1,324,655,000.0             0.5
49  2009  1,331,260,000.0             0.5
50  2010  1,337,705,000.0             0.5
51  2011  1,345,035,000.0             0.5
52  2012  1,354,190,000.0             0.7
53  2013  1,363,240,000.0             0.7
54  2014  1,371,860,000.0             0.6
55  2015  1,379,860,000.0             0.6
56  2016  1,387,790,000.0             0.6
57  2017  1,396,215,000.0             0.6
58  2018  1,402,760,000.0             0.5
59  2019  1,407,745,000.0             0.4
60  2020  1,411,100,000.0             0.2
61  2021  1,412,360,000.0             0.1

In [82]:
# El valor NaN de 1960 lo rellenaré con valor 0.
total_var_interanual_china["Var interanual"] = total_var_interanual_china["Var interanual"].fillna(0)
total_var_interanual_china

    Year  Poblacion total  Var interanual
0   1960    667,070,000.0             0.0
1   1961    660,330,000.0            -1.0
2   1962    665,770,000.0             0.8
3   1963    682,335,000.0             2.5
4   1964    698,355,000.0             2.3
5   1965    715,185,000.0             2.4
6   1966    735,400,000.0             2.8
7   1967    754,550,000.0             2.6
8   1968    774,510,000.0             2.6
9   1969    796,025,000.0             2.8
10  1970    818,315,000.0             2.8
11  1971    841,105,000.0             2.8
12  1972    862,030,000.0             2.5
13  1973    881,940,000.0             2.3
14  1974    900,350,000.0             2.1
15  1975    916,395,000.0             1.8
16  1976    930,685,000.0             1.6
17  1977    943,455,000.0             1.4
18  1978    956,165,000.0             1.3
19  1979    969,005,000.0             1.3
20  1980    981,235,000.0             1.3
21  1981    993,885,000.0             1.3
22  1982  1,008,630,000.0             1.5
23  1983  1,023,310,000.0             1.5
24  1984  1,036,825,000.0             1.3
25  1985  1,051,040,000.0             1.4
26  1986  1,066,790,000.0             1.5
27  1987  1,084,035,000.0             1.6
28  1988  1,101,630,000.0             1.6
29  1989  1,118,650,000.0             1.5
30  1990  1,135,185,000.0             1.5
31  1991  1,150,780,000.0             1.4
32  1992  1,164,970,000.0             1.2
33  1993  1,178,440,000.0             1.2
34  1994  1,191,835,000.0             1.1
35  1995  1,204,855,000.0             1.1
36  1996  1,217,550,000.0             1.1
37  1997  1,230,075,000.0             1.0
38  1998  1,241,935,000.0             1.0
39  1999  1,252,735,000.0             0.9
40  2000  1,262,645,000.0             0.8
41  2001  1,271,850,000.0             0.7
42  2002  1,280,400,000.0             0.7
43  2003  1,288,400,000.0             0.6
44  2004  1,296,075,000.0             0.6
45  2005  1,303,720,000.0             0.6
46  2006  1,311,020,000.0             0.6
47  2007  1,317,885,000.0             0.5
48  2008  1,324,655,000.0             0.5
49  2009  1,331,260,000.0             0.5
50  2010  1,337,705,000.0             0.5
51  2011  1,345,035,000.0             0.5
52  2012  1,354,190,000.0             0.7
53  2013  1,363,240,000.0             0.7
54  2014  1,371,860,000.0             0.6
55  2015  1,379,860,000.0             0.6
56  2016  1,387,790,000.0             0.6
57  2017  1,396,215,000.0             0.6
58  2018  1,402,760,000.0             0.5
59  2019  1,407,745,000.0             0.4
60  2020  1,411,100,000.0             0.2
61  2021  1,412,360,000.0             0.1